[Unit]
Description=nginx-letsencrypt
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3s
ExecStartPre=-/usr/bin/docker kill nginx-letsencrypt
ExecStartPre=-/usr/bin/docker rm nginx-letsencrypt
ExecStartPre=/usr/bin/docker pull jrcs/letsencrypt-nginx-proxy-companion
ExecStart=/usr/bin/docker run --name nginx-letsencrypt --volumes-from nginx-proxy -v /etc/nginx/certs:/etc/nginx/certs:rw -v /var/run/docker.sock:/var/run/docker.sock:ro jrcs/letsencrypt-nginx-proxy-companion
ExecStop=/usr/bin/docker stop nginx-letsencrypt

[Install]
WantedBy=multi-user.target